<!-- src/app/components/chat/chat.component.html -->
<div class="chat-container">
  <div class="header">
    <div class="admin-icon" (click)="navigateToAdmin()" title="Acesso Administrativo">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
        <path fill-rule="evenodd"
          d="M12 1.5a5.25 5.25 0 00-5.25 5.25v3a3 3 0 00-3 3v6.75a3 3 0 003 3h10.5a3 3 0 003-3v-6.75a3 3 0 00-3-3v-3c0-2.9-2.35-5.25-5.25-5.25zm3.75 8.25v-3a3.75 3.75 0 10-7.5 0v3h7.5z"
          clip-rule="evenodd" />
      </svg>
    </div>

    <div class="header-title">
      <h2>E.L.O. (O Piá-bot)</h2>
    <span>Canal de Apoio pedagógico e estudantil do IFPR - Campus Assis Chateaubriand</span>
    </div>
  </div>

  <!-- NOVO CONTROLE DE TEMPERATURA -->
  <div class="temperature-control">
    <label for="piabot_temperature">Tom da Conversa:</label>
    <span class="temp-label">Descontraído</span>
    <input type="range" id="piabot_temperature" min="0" max="1" step="0.1" [(ngModel)]="chatTemperature"
      (ngModelChange)="onTemperatureChange()">
    <span class="temp-label">Formal</span>
  </div>

  <!-- ENVOLVA O COMPONENTE AQUI -->
  <div class="messages-area" #messagesArea>
    <app-message-list [messages]="messages"></app-message-list>
  </div>

  <div class="input-area">
    <app-message-input (sendMessage)="handleSendMessage($event)"></app-message-input>
  </div>

</div>
